<!doctype  html>
<html  ng-app="CPUApp">
  <head>

    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" media="screen" href="css/testAdmin.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/nv.d3.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/rickshaw.min.css"/>
    <link rel="stylesheet" href="css/tooltip.css"/>
    <link rel="stylesheet" href="css/animation.css">
    <script src="scripts/angular/angular.min.js">
    </script>
    <script src="scripts/angular/angular-cookies.min.js">
    </script>
    <script src="scripts/angular/angular-animate.min.js">
    </script>
    <script src="scripts/angular-misc/D3Directives.js">
    </script>
    <script src="scripts/angular-misc/angular-commons.js">
    </script>
    <script src="scripts/statusApp.js">
    </script>
    <script type="text/javascript" src="scripts/d3/d3.v3.min.js" charset="utf-8">
    </script>
    <script src="scripts/d3/common.js">
    </script>
    <script src="scripts/jquery.min.js">
    </script>
    <script src="scripts/bootstrap.min.js">
    </script>
    <script src="scripts/d3/colorbrewer.js">
    </script>

    <script src="scripts/d3/rickshaw.min.js">
    </script>
    <script type="text/javascript" src="scripts/d3/nv.d3.js" charset="utf-8">
    </script>
    <style>

    </style>

    <script>
      Date.prototype.format = function(format) {
        var o = {
          "M+": this.getMonth() + 1,
          // month
          "d+": this.getDate(),
          // day
          "h+": this.getHours(),
          // hour
          "m+": this.getMinutes(),
          // minute
          "s+": this.getSeconds(),
          // second
          "q+": Math.floor((this.getMonth() + 3) / 3),
          // quarter
          "S": this.getMilliseconds()
          // millisecond
          };
          if (/(y+)/.test(format) || /(Y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
          }
          for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
              format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
          }
          return format;
          };

          function timestampformat(timestamp) {
            return (new Date(timestamp)).format("yyyy-MM-dd hh:mm:ss");
          }
          function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
          }

          var StatusApp = angular.module('CPUApp', ['D3Directives','ngCookies','ngAnimate']).filter('bytes', funcBytesFilter).filter('duration', funcDurationFilter);
          StatusApp.controller("ListCtrl", function ($scope, $http , $cookieStore) {
            var  $page=getQueryString("page");
            var  $host=getQueryString("host");
            if($page==null)
            $page=0;
            if($host==null)
            $host="ubuntu";

            function  SetHeadLine(){
              $http({method:"get",url:"../inkscopeCtrl/ceph/hosts",timeout:4000})
              .success(function ($data){
                var $count=$data.length;
                var $headString="";
                for(var $i=0;$i<$count;$i++){
                  if($data[$i]._id!=$host)
                  $headString=$headString+"<a  href=?host="+$data[$i]._id+">"+$data[$i]._id+"</a>";
                  else
                  $headString=$headString+$data[$i]._id;
                  $headString+="    ";
                }
                document.getElementById("headLine").innerHTML=$headString;
                });
              }
              SetHeadLine();



              CpuCtrl();//申明函数
              setInterval(function () {
                CpuCtrl();
                },10*1000);

                MemCtrl();
                setInterval(function () {
                  MemCtrl();
                  },10*1000);
                  SwapCtrl();
                  setInterval(function () {
                    SwapCtrl();
                    },10*1000);

                    NetworkCtrl();
                    setInterval(function () {
                      NetworkCtrl();
                      },10*1000);


                      function  SwapCtrl() {
                        $http({method:"get",url:"../inkscopeCtrl/ceph/swapstat?host="+$host,timeout:4000})
                        .success(function (data) {
                          var  len=data.length;
                          var dataList=[];
                          if(len>0){
                            dataList[0]=data[len-1];
                            dataList[0].timestamp=timestampformat(dataList[0].timestamp);
                          }
                          $scope.swapDataList=dataList;
                          });
                        }

                        function  CpuCtrl() {
                          $http({method:"get",url:"../inkscopeCtrl/ceph/cpustat?host="+$host,timeout:4000})
                          .success(function (data) {
                            var  len=data.length;
                            var dataList=[];
                            if(len>0){
                              dataList[0]=data[len-1];
                              dataList[0].timestamp=timestampformat(dataList[0].timestamp);
                            }
                            $scope.cpudataList=dataList;
                            });
                          }
                          function  MemCtrl() {
                            $http({method:"get",url:"../inkscopeCtrl/ceph/memstat?host="+$host,timeout:4000})
                            .success(function (data) {
                              var  len=data.length;
                              var dataList=[];
                              if(len>0){
                                dataList[0]=data[len-1];
                                dataList[0].timestamp=timestampformat(dataList[0].timestamp);
                              }
                              $scope.memdataList=dataList;
                              });
                            }
                            function  NetworkCtrl() {
                              $http({method:"get",url:"../inkscopeCtrl/ceph/netstat?host="+$host,timeout:4000})
                              .success(function (data) {
                                var  len=data.length;
                                var dataList=[];
                                if(len>0){
                                  dataList[0]=data[len-1];
                                  dataList[0].timestamp=timestampformat(dataList[0].timestamp);
                                }
                                $scope.netDataList=dataList;
                                });

                              }
                              DiskCtrl();//申明函数
                              setInterval(function () {
                                DiskCtrl();
                                },3*1000);

                                function  DiskCtrl() {
                                  $http({method:"get",url:"../inkscopeCtrl/ceph/diskstat?host="+$host,timeout:4000})
                                  .success(function (data) {
                                    var dataLen=data.length;
                                    var dataCount=0;
                                    if(dataLen!=0)
                                    var dataDisk1=data[0].disk.$id;
                                    for(var i=0;i<dataLen;i++){
                                      if(data[i].disk.$id==dataDisk1)
                                      dataCount++;
                                    }
                                    var  dataListNumber=0;
                                    if(dataCount!=0)
                                    dataListNumber=dataLen/dataCount;
                                    var  dataList=[];
                                    var  dataStartNumber=0;
                                    for(var  i=dataStartNumber;i<dataListNumber;i++){
                                      dataList[i-dataStartNumber]=data[i];
                                      dataList[i-dataStartNumber].timestamp=timestampformat(dataList[i-dataStartNumber].timestamp);
                                    }
                                    $scope.diskDataList=dataList;
                                    });
                                  }
                                  });
                                </script>
                              </head>
                              <body ng-controller="ListCtrl">

                                <header ng-include src="'partials/header.html'" ng-init="pageTitle='Ceph Disk  Status'">
                                </header>
                                <div>
                                  <h2  id="headLine">
                                  </h2>
                                </div>

                                <div>
                                  <!--div id="status"  >{{status}}</div-->
                                  <div id="CPUStat">
                                    <table 
                                        width="100%"
                                        ng-table="tableParams"
                                        class="table table-condensed table-hover">



                                      <tr  align="middle">
                                        <h3  align="middle">
                                          CPU STATE
                                        </h3>
                                      </tr>
                                      <tr  align="middle"   width="100%" >
                                        <td style="text-align:middle">
                                          host
                                        </td>
                                        <td style="text-align:middle">
                                          timestamp
                                        </td>
                                        <td style="text-align:middle">
                                          softirq
                                        </td>
                                        <td style="text-align:middle">
                                          iowait
                                        </td>
                                        <td style="text-align:middle">
                                          system
                                        </td>
                                        <td style="text-align:middle">
                                          user
                                        </td>
                                        <td style="text-align:middle">
                                          irq
                                        </td>
                                        <td style="text-align:middle">
                                          steal
                                        </td>
                                        <td style="text-align:middle">
                                          idle
                                        </td>
                                        <td style="text-align:middle">
                                          guest
                                        </td>
                                      </tr>
                                      <tr ng-repeat="cpudata in  cpudataList"   width="100%" >
                                        <td data-title="'host'" sortable="'host.$id'">
                                          {{cpudata.host.$id}}
                                        </td>
                                        <td data-title="'timestamp'" sortable="'timestamp'">
                                          {{cpudata.timestamp}}
                                        </td>
                                        <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
                                        <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
                                        <td data-title="'softirq'" style="text-align:middle">
                                          {{cpudata.softirq}}
                                        </td>
                                        <td data-title="'iowait'" style="text-align:middle">
                                          {{cpudata.iowait}}
                                        </td>
                                        <td data-title="'system'" style="text-align:middle">
                                          {{cpudata.system}}
                                        </td>
                                        <td data-title="'user'" style="text-align:middle">
                                          {{cpudata.user}}
                                        </td>
                                        <td data-title="'irq'" style="text-align:middle">
                                          {{cpudata.irq}}
                                        </td>
                                        <td data-title="'steal'" style="text-align:middle">
                                          {{cpudata.steal}}
                                        </td>
                                        <td data-title="'idle'" style="text-align:middle">
                                          {{cpudata.idle}}
                                        </td>
                                        <td data-title="'guest'" style="text-align:middle">
                                          {{cpudata.guest}}
                                        </td>
                                      </tr>
                                    </table>
                                  </div>


                                  <div id="MEMStat">
                                    <table 
                                        width="100%"
                                        ng-table="tableParams"
                                        class="table table-condensed table-hover">



                                      <tr  align="middle">
                                        <h3  align="middle">
                                          MEM STATE
                                        </h3>
                                      </tr>
                                      <tr  align="middle"   width="100%" >
                                        <td style="text-align:middle">
                                          host
                                        </td>
                                        <td style="text-align:middle">
                                          timestamp
                                        </td>
                                        <td style="text-align:middle">
                                          used
                                        </td>
                                        <td style="text-align:middle">
                                          cached
                                        </td>
                                        <td style="text-align:middle">
                                          free
                                        </td>
                                        <td style="text-align:middle">
                                          buffers
                                        </td>
                                        <td style="text-align:middle">
                                          total
                                        </td>
                                      </tr>
                                      <tr ng-repeat="memdata in  memdataList"   width="100%" >
                                        <td data-title="'host'" sortable="'host.$id'">
                                          {{memdata.host.$id}}
                                        </td>
                                        <td data-title="'timestamp'" sortable="'timestamp'">
                                          {{memdata.timestamp}}
                                        </td>
                                        <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
                                        <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
                                        <td data-title="'softirq'" style="text-align:middle">
                                          {{memdata.used}}
                                        </td>
                                        <td data-title="'iowait'" style="text-align:middle">
                                          {{memdata.cached}}
                                        </td>
                                        <td data-title="'system'" style="text-align:middle">
                                          {{memdata.free}}
                                        </td>
                                        <td data-title="'user'" style="text-align:middle">
                                          {{memdata.buffers}}
                                        </td>
                                        <td data-title="'irq'" style="text-align:middle">
                                          {{memdata.total}}
                                        </td>
                                      </tr>
                                    </tr>
                                  </table>
                                </div>

                                <div id="SwapStat">
                                  <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
                                    <tr  align="middle">
                                      <h3  align="middle">
                                        SWAP STATE
                                      </h3>
                                    </tr>

                                    <tr  align="middle"   width="100%" >
                                      <td style="text-align:middle">
                                        host
                                      </td>
                                      <td style="text-align:middle">
                                        timestamp
                                      </td>
                                      <td style="text-align:middle">
                                        used
                                      </td>
                                      <td style="text-align:middle">
                                        free
                                      </td>
                                      <td style="text-align:middle">
                                        total
                                      </td>
                                    </tr>
                                    <tr ng-repeat="swapData in  swapDataList"   width="100%" >
                                      <td data-title="'host'" sortable="'host.$id'">
                                        {{swapData.host.$id}}
                                      </td>
                                      <td data-title="'timestamp'" sortable="'timestamp'">
                                        {{swapData.timestamp}}
                                      </td>
                                      <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
                                      <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
                                      <td data-title="'softirq'" style="text-align:middle">
                                        {{swapData.used}}
                                      </td>
                                      <td data-title="'system'" style="text-align:middle">
                                        {{swapData.free}}
                                      </td>
                                      <td data-title="'irq'" style="text-align:middle">
                                        {{swapData.total}}
                                      </td>
                                    </tr>
                                  </table>
                                </div>


                                <div id="NetworkCtrl">
                                  <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
                                    <tr  align="middle">
                                      <h3  align="middle">
                                        NETWORK STATE
                                      </h3>
                                    </tr>

                                    <tr  align="middle"   width="100%" >
                                      <td style="text-align:middle">
                                        NetworkInterface
                                      </td>
                                      <td style="text-align:middle">
                                        timestamp
                                      </td>
                                      <td style="text-align:middle">
                                        tx
                                      </td>
                                      <td style="text-align:middle">
                                        rx
                                      </td>
                                    </tr>
                                    <tr ng-repeat="netData in  netDataList"   width="100%" >
                                      <td data-title="'interface'" sortable="'_id'">
                                        {{netData.network_interface.$id}}
                                      </td>
                                      <td data-title="'timestamp'" sortable="'timestamp'">
                                        {{netData.timestamp}}
                                      </td>
                                      <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
                                      <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
                                      <td data-title="'rx'" style="text-align:middle">
                                        {{netData.rx}}
                                      </td>
                                      <td data-title="'rtx'" style="text-align:middle">
                                        {{netData.tx}}
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                <div id="DiskState">
                                  <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
                                    <tr  align="middle">
                                      <h3  align="middle">
                                        DISK STATE
                                      </h3>
                                    </tr>
                                    <tr  align="middle"   width="100%" >
                                      <td style="text-align:middle">
                                        Devices
                                      </td>
                                      <td style="text-align:middle">
                                        timestamp
                                      </td>
                                      <td style="text-align:middle">
                                        rkB_s
                                      </td>
                                      <td style="text-align:middle">
                                        rrqm_s
                                      </td>
                                      <td style="text-align:middle">
                                        r_s
                                      </td>
                                      <td style="text-align:middle">
                                        wkB_s
                                      </td>
                                      <td style="text-align:middle">
                                        wrqm_s
                                      </td>
                                      <td style="text-align:middle">
                                        w_s
                                      </td>
                                    </tr>
                                    <tr ng-repeat="diskData in  diskDataList"   width="100%" >
                                      <td data-title="'wkB'" sortable="'id'">
                                        {{diskData.disk.$id}}
                                      </td>
                                      <td data-title="'timestamp'" sortable="'name'">
                                        {{diskData.timestamp}}
                                      </td>
                                      <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
                                      <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
                                      <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">
                                        {{diskData.rkB_s}}
                                      </td>
                                      <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">
                                        {{diskData.rrqm_s}}
                                      </td>
                                      <td data-title="'r_s'" sortable="'stats.objects'" style="text-align:middle">
                                        {{diskData.r_s}}
                                      </td>
                                      <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">
                                        {{diskData.wkB_s}}
                                      </td>
                                      <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">
                                        {{diskData.wrqm_s}}
                                      </td>
                                      <td data-title="'r_s'" sortable="'stats.objects'" style="text-align:middle">
                                        {{diskData.w_s}}
                                      </td>

                                    </tr>
                                  </table>
                                </div>


                              </table>
                            </div>
                          </div>
                        </body>
                      </html>
