<h3>OsdId={{dataList[0].daemontype}}</h3>


<div>
  <h3  align="middle">User  times</h3>
  <div id="ProcessChart"></div>
</div>
<div>
  <h3  align="middle">Cpu  times</h3>
  <div  id="ProcessCuptimeChart"></div>
</div>
<div>
    <h3  align="middle">Mem  shared</h3>
  <div  id="ProcessMemsharedChart"></div>
</div>
<div>
    <h3  align="middle">Mem  rss</h3>
    <div  id="ProcessMemrssChart"></div>
</div>
<div>
    <h3  align="middle">Mem  vms</h3>
    <div  id="ProcessMemvmsChart"></div>
</div>

