<h3>Mem details for hostname={{memdataList[0].host.$id}}</h3>

<div id="MEMStat">
        
        <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
        

	 <tr  align="middle"><h3  align="middle">MEM  STATE</h3></tr>
         <tr  align="middle"   width="100%" >
          <td style="text-align:middle">host</td>
          <td style="text-align:middle">timestamp</td>
          <td style="text-align:middle">used</td>
          <td style="text-align:middle">cached</td>
          <td style="text-align:middle">free</td>
          <td style="text-align:middle">buffers</td>
          <td style="text-align:middle">total</td>
        </tr>
        <tr ng-repeat="memdata in  memdataList"   width="100%" >
          <td data-title="'host'" sortable="'host.$id'">{{memdata.host.$id}}</td>
            <td data-title="'timestamp'" sortable="'timestamp'">{{memdata.timestamp}}</td>
            <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
            <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
            <td data-title="'softirq'" style="text-align:middle">{{memdata.used}}</td>
            <td data-title="'iowait'" style="text-align:middle">{{memdata.cached}}</td>
            <td data-title="'system'" style="text-align:middle">{{memdata.free}}</td>
            <td data-title="'user'" style="text-align:middle">{{memdata.buffers}}</td>
            <td data-title="'irq'" style="text-align:middle">{{memdata.total}}</td>
        </tr>
        </tr>
    </table>
</div>
<div  id="MemChart"></div>
