<div>
<!--div id="status"  >{{status}}</div-->
<div id="CPUStat">
        <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
	<tr  align="middle"><h3  align="middle">CPU  STATE</h3></tr>
        <tr  align="middle"   width="100%" >
          <td style="text-align:middle">host</td>
          <td style="text-align:middle">timestamp</td>
          <td style="text-align:middle">softirq</td>
          <td style="text-align:middle">iowait</td>
          <td style="text-align:middle">system</td>
          <td style="text-align:middle">user</td>
          <td style="text-align:middle">irq</td>
          <td style="text-align:middle">steal</td>
          <td style="text-align:middle">idle</td>
          <td style="text-align:middle">guest</td>
        </tr>
        <tr ng-repeat="cpudata in  cpudataList"   width="100%" >
          <td data-title="'host'" sortable="'host.$id'">{{cpudata.host.$id}}</td>
            <td data-title="'timestamp'" sortable="'timestamp'">{{cpudata.timestamp}}</td>
            <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
            <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
            <td data-title="'softirq'" style="text-align:middle">{{cpudata.softirq}}</td>
            <td data-title="'iowait'" style="text-align:middle">{{cpudata.iowait}}</td>
            <td data-title="'system'" style="text-align:middle">{{cpudata.system}}</td>
            <td data-title="'user'" style="text-align:middle">{{cpudata.user}}</td>
            <td data-title="'irq'" style="text-align:middle">{{cpudata.irq}}</td>
            <td data-title="'steal'" style="text-align:middle">{{cpudata.steal}}</td>
            <td data-title="'idle'" style="text-align:middle">{{cpudata.idle}}</td>
            <td data-title="'guest'" style="text-align:middle">{{cpudata.guest}}</td>
        </tr>
    </table>
</div>


<div id="MEMStat">
        <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
        <tr  align="middle"><h3  align="middle">MEM  STATE</h3></tr>
         <tr  align="middle"   width="100%" >
          <td style="text-align:middle">host</td>
          <td style="text-align:middle">timestamp</td>
          <td style="text-align:middle">used</td>
          <td style="text-align:middle">cached</td>
          <td style="text-align:middle">free</td>
          <td style="text-align:middle">buffers</td>
          <td style="text-align:middle">total</td>
        </tr>
        <tr ng-repeat="memdata in  memdataList"   width="100%" >
          <td data-title="'host'" sortable="'host.$id'">{{memdata.host.$id}}</td>
            <td data-title="'timestamp'" sortable="'timestamp'">{{memdata.timestamp}}</td>
            <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
            <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
            <td data-title="'softirq'" style="text-align:middle">{{memdata.used}}</td>
            <td data-title="'iowait'" style="text-align:middle">{{memdata.cached}}</td>
            <td data-title="'system'" style="text-align:middle">{{memdata.free}}</td>
            <td data-title="'user'" style="text-align:middle">{{memdata.buffers}}</td>
            <td data-title="'irq'" style="text-align:middle">{{memdata.total}}</td>
        </tr>
        </tr>
    </table>
</div>

<div id="SwapStat">
        <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
  <tr  align="middle"><h3  align="middle">SWAP  STATE</h3></tr>

        <tr  align="middle"   width="100%" >
          <td style="text-align:middle">host</td>
          <td style="text-align:middle">timestamp</td>
          <td style="text-align:middle">used</td>
          <td style="text-align:middle">free</td>
          <td style="text-align:middle">total</td>
        </tr>
        <tr ng-repeat="swapData in  swapDataList"   width="100%" >
          <td data-title="'host'" sortable="'host.$id'">{{swapData.host.$id}}</td>
            <td data-title="'timestamp'" sortable="'timestamp'">{{swapData.timestamp}}</td>
            <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
            <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
            <td data-title="'softirq'" style="text-align:middle">{{swapData.used}}</td>
            <td data-title="'system'" style="text-align:middle">{{swapData.free}}</td>
            <td data-title="'irq'" style="text-align:middle">{{swapData.total}}</td>
        </tr>
    </table>
</div>


<div id="NetworkCtrl">
        <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
	<tr  align="middle"><h3  align="middle">NETWORK  STATE</h3></tr>

        <tr  align="middle"   width="100%" >
          <td style="text-align:middle">NetworkInterface</td>
          <td style="text-align:middle">timestamp</td>
          <td width='200' style="text-align:middle">tx</td>
          <td style="text-align:middle">rx</td>
        </tr>
        <tr ng-repeat="netData in  netDataList"   width="100%" >
          <td data-title="'interface'" sortable="'_id'">{{netData.network_interface.$id}}</td>
           <td data-title="'timestamp'" sortable="'timestamp'">{{netData.timestamp}}</td>
            <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
            <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
            <td data-title="'rx'" width='200'> {{netData.rx}}
	    </td>
            <td data-title="'rtx'">{{netData.tx}}</td>
        </tr>
    </table>
</div>
<div id="DiskState">
        <table width="100%" ng-table="tableParams" class="table table-condensed table-hover">
        <tr  align="middle"><h3  align="middle">DISK  STATE</h3></tr>
        <tr  align="middle"   width="100%" >
          <td style="text-align:middle">Devices</td>
          <td style="text-align:middle">timestamp</td>
          <td style="text-align:middle">rkB_s</td>
          <td style="text-align:middle">rrqm_s</td>
          <td style="text-align:middle">r_s</td>
          <td style="text-align:middle">wkB_s</td>
          <td style="text-align:middle">wrqm_s</td>
          <td style="text-align:middle">w_s</td>
        </tr>
        <tr ng-repeat="diskData in  diskDataList"   width="100%" >
          <td data-title="'wkB'" sortable="'id'">{{diskData.disk.$id}}</td>
            <td data-title="'timestamp'" sortable="'name'">{{diskData.timestamp}}</td>
            <!--td data-title="'Ruleset'" sortable="'ruleset'">{{pool.ruleset}}</td-->
            <!--td data-title="'Size'" sortable="'size'">{{pool.size}}</td-->
            <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">{{diskData.rkB_s}}</td>
            <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">{{diskData.rrqm_s}}</td>
            <td data-title="'r_s'" sortable="'stats.objects'" style="text-align:middle">{{diskData.r_s}}</td>
            <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">{{diskData.wkB_s}}</td>
            <td data-title="'rrqm_s'" sortable="'stats.bytes_used'" style="text-align:middle">{{diskData.wrqm_s}}</td>
            <td data-title="'r_s'" sortable="'stats.objects'" style="text-align:middle">{{diskData.w_s}}</td>

        </tr>
    </table>
</div>
